@model FinancesManagment.Models.FinancialAccountMember
@{
    ViewBag.Title = "Financial Account";
}

<h2>Financial account</h2>

<p>@Model.FinancialAccount.Name</p>
<p>@Model.FinancialAccount.Summary</p>