@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Finances Manager</h1>
    <p class="lead">Manage yor personal and group finances easily.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your accounts</h2>
        <ul class="list-group">
            
        </ul>
    </div>
</div>